@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F7ECDE;
}

/*-------NavBar-------------*/
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;

}

.navItems li:hover a,
.logo:hover {
    color: #54BAB9;
    text-decoration: none;
   
}
/*------Home-----------*/
.wrapper{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    margin: -20px 0;
}

/* .columna{
    width: 50%;
} */


.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #54BAB9;
}
h1{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
  color: #54BAB9;
  text-transform: capitalize;  
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.boton{
    width: 100%;
    position: relative;
    left: 250px;
}
 button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 120px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

 button:hover{
    background-color: #54BAB9;
} 
.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgBox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: 120px;
    right: 50px;
    animation: animateUser 4s linear infinite;
} 

@keyframes animateUser {
    50%{
        right: 30px;
        top: 180px;
    }
}

